<p id="notice"><%= notice %></p>
<div class="container">
  <%= link_to '新規依頼', new_user_submit_request_path %>
  <%= link_to '依頼されている一覧', inbox_user_submit_requests_path %>
  <div id="submit_requests_<%= current_user.id %>" >
    <%= render 'submit_requests_list', submit_requests: @submit_requests %>
  </div>
</div>
