<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Achieve", root_path, class: "navbar-brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "お問い合わせ", new_contact_path %></li>
        <li class="dropdown">
          <% if user_signed_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "ブログ", blogs_path %></li>
              <li><%= link_to 'ユーザー一覧', users_path %></li>
              <li><%= link_to '新規依頼', user_submit_requests_path(current_user) %></li>
              <li><%= link_to "マイタスク", user_tasks_path(current_user.id) %></li>
              <li><%= link_to "メッセージ", conversations_path %></li>
            </ul>            
            <li><%= link_to 'マイページ', edit_user_registration_path %></li>
            <%= render 'layouts/dropdown/notifications' %>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <script>
              var pusher = new Pusher('<%= Pusher.key %>');
              var channel = pusher.subscribe('notifications' + <%= current_user.id.to_s %>);
              channel.bind('message', function(data) {
                console.log(data.unread_count);
                $('#unreadcount').html(data.unread_count);
              });
            </script>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <li><%= link_to 'サインアップ', new_user_registration_path %></li>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
