<!DOCTYPE html>
<html>
<head>
  <title>Achieve</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= render 'layouts/header' %>

<%= yield %>

<footer>
  運営会社Dive into Code株式会社</p>
  <p>© 2015-2016 Copyright Dive into Code Corp.
</footer>

</body>
</html>
